/*Czwórka
 *

 ff6600 link
 df6c20 visited
 c87137 h1
 aa4400 h2 hover
 37312d pozost. nagłówki

 * */

@import "reset.css";

/* Traktuj nowe elementy jak divy */
header, footer, section
aside, nav, article  {
  display: block;
  position: relative;

	/*padding: 0 2em;*/
	overflow: hidden;
}


body {
	margin: 0 auto;
	padding: 0;
	color: #4f443d;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	line-height: 1.125; /*  Siatka o wys. 18px: 16px (domyślnie) * 1.125 = 18px */
	text-align: center;
}



body div {
	text-align: left;
}

p {
	margin-bottom: 0.643em; /* 9px */
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", "Century Schoolbook L", Times, serif;
	color: #37312d;
	font-weight: normal;
}

h1 {
	font-size: 2.8571em;
	line-height: 1.125em;  /* 27px */
	margin-top: 0;
	margin-bottom: 0.75em; /* 18px */
  color: #c87137;
}
h2, aside article h1 { 
	font-size: 1.5714em;   /* 18px */ 
	margin-top:1.5em;	   /* 27px */
	margin-bottom: 0.5em;  /* 9px */
	line-height: 1;
  color: #aa4400;
}
h3 { 
	font-size: 1.2857em;
	margin-bottom: 0.2em;
	line-height: 1.1;
}
h4 { 
	font-size: 0.875em;   /* 14px */ 
	margin-top:1.286em;	   /* 18px */
	margin-bottom: 0.643em; /* 9px */
	font-size: 1em;
}
h5, 
h6 {
	 font-size: 0.8125em;  /* 13px */ 
	 font-size: 1em;
}

/* @end */

/* header, footer  */
header, footer{
  padding-top: 1.5em;
	padding-bottom: 1em;
	position: relative;
	min-height: 20px;
  background-color: #fae6da;
}
header hgroup{
}

header h2 {
  position: relative;
  top: -0.5em;
}

header hgroup a{
  text-decoration: none;
  background: #fae6da url("img/tancerki.png") bottom right no-repeat;
  display: block;
}
.col {
  width: 30%;
  float: left;
  display: block;
  text-align: left;
  padding-right: 2em;
}
.col.last {
  padding-right: 0;
}


.wrapper {
	max-width: 100%;
  width: 60em;
	margin: 0 auto;
  padding: 0 2em;
}

aside {
  float: left;
  width: 30%;
  display: block;
  text-align: left;
}
article.main {
  padding: 0 2em;
}

article .imgbox {
  float: left;
  text-align: center;
}
.content {
  background:  url("img/tlo-nag.png")  left top repeat-x; 
  padding: 2em 0;
}

/* listy */
ul {
  list-style-type: none;
}

/* odnośniki */

a:link {color:#ff6600;}      /* unvisited link */
a:visited {color:#df6c20;}  /* visited link */
a:hover {color:#aa4400;}  /* mouse over link */
a:active {color:#ff0000;}  /* selected link */

/* nav */
nav {
  float: right;
  padding-right: 2em;
}
nav ul li {
 float: left;
}
nav li a {
  display: block;
  margin: 0 0.25em;
  text-decoration: none;
  border-bottom: 2px solid #fae6da; /* taki jak header background*/
}
nav li a:hover {
  border-bottom: 2px solid #ff6600;
}
