@import "reset.css";
@import "960fluid.css";
body {
  background: #4987c2 url(img/bg-dots.png) 50% top no-repeat; 
  border-top: 5px solid #c8394d;
  color: #f2efb2;
  margin: 0 auto;
  min-width: 700px;
  max-width: 100em;
  font-family: Banksia, "Trebuchet MS", Arial, sans-serif;  font-size: 90%; 
}
/* ------------ Style podstawowowe ----------------------*/

h1 { font-size: 1.2em; margin: 0.5em 0 0.3em 0;}
h2, h3, h4 { font-size: 1em; margin: 0.2em 0 0.2em 0; }
h3, h4 { font-size: 0.8em;  }


a {color: #e5c767; text-decoration: none; font-weight: normal;}
a strong {color: #fab867; text-decoration: none; font-weight: normal;}
a:hover {color: #fab867; text-decoration: underline; font-weight: normal;}
a:hover strong {color: #51b51f; text-decoration: none; font-weight: normal;}

img {
  border: none;
}

/*------------------- #nav --------------------*/
/* menu główne */

#nav  {
  float: right;
  padding-right: 6%;
}

#nav li  
{
	float: left;
	list-style: none;
	text-align: center;
  padding: 0.2em 0.8em;
  background-color: #c8394d;
  color: #f2efb2;
  border: 2px solid #f2efb2;
  margin: 0 1em 1em 0;
}

#nav li a{ 
	display: block; 
	line-height: 1em; 
	text-decoration: none;
}

/* synchronizuj z .button */
#nav a:link, #nav a:visited { color: #f2efb2;}
#nav li:hover, #nav li:active { background-color: #842532; }

#nav a#current { color:#fab867; }

/*-----------------------------------Inne tagi-----------------------------------------*/

/* listy */
ul { list-style: url('img/bullet.png') }
ol { list-style: decimal }
ol li, ul li { line-height: 1.4em }
img.left { float: left }
img.right { float: right }

/* -------------- .company -------------*/
/* biały boks z nazwą domeny */
.company { 
  border: 2px solid #3b536c;
  background: #fff; 
  color: #336799; 
}
.company h1, .company h2 {
  color: #336799;
}
.company h2 {font-size: 0.8em;}
.company h1>span {color: #c8394d;}
.company a:hover h1 {color: #c8394d;}
.company a:hover h1>span {color: #336799;}
.company img {float: left; padding: 5px;}

/* -------------- box  -------------*/
.box {
  font-size: 1em;
  padding: 0.5em;
  margin: 0;
  min-height:60px;
}
.box img {
  padding: 0.5em;
}
.box ul {
  list-style: disc;
  padding-left: 1em;
}
/* -------------- .info  -------------*/
/* niebieskie boksy */
.info {
  color: #f2efb2;
  background: #376a9b;
  border: 2px solid #f2efb2;
}
/* -------------- .content  -------------*/
/* białe boksy */
.content {
  color: #444;
  background-color: #fff;
  border: 2px solid #376a9b;
  margin: 0;
}
/* -------------- #main-------------*/
#main {
  margin: 0.4em 0 0.4em 0;
}
/*------------ button ------------*/
.button {
  background-color: #c8394d;
  color: #f2efb2;
  border: 2px solid #f2efb2;
  text-align: center;
  margin: 0 45%;
  padding: 0.3em;
}
a.button { text-decoration: none }
a.button:hover, a.button:active  { background-color: #842532; }
a.button:link, a.button:visited { color: #f2efb2;}

#main a{color: #336799; text-decoration: none; font-weight: normal;}
#main a:hover {color: #c8394d; text-decoration: none; font-weight: normal;}

#head, #footer{ margin: 0;}
